<div accept-charset="utf-8" class="newsletter-popup__form clearfix full-height">
  <div class="row no-free-space full-height">
    <div class="col-md-12 float-right full-height flex-display">
      <form style="  margin: 0 auto;" [formGroup]="formAdd" (ngSubmit)="onAdd()">
        <div class="form-group">
          <label>Tên bài viết:</label>
          <input type="text" (keyup)="createAlias()" class="form-control" formControlName="Name"
            placeholder="Tên bài viết">
          <div style="color: red;"
            *ngIf="formAdd.controls['Name'].hasError('required') && formAdd.controls['Name']?.touched">
            Tên bài viết không được để trống!
          </div>
          <p style="color: red;" *ngIf="formAdd.controls['Name'].hasError('maxlength')">
            Tên bài viết không được quá 250 ký tự.
          </p>
        </div>
        <div class="form-group">
          <label>URL:</label>
          <input type="text" class="form-control" formControlName="Url" placeholder="Url">
          <div style="color: red;"
            *ngIf="formAdd.controls['Url'].hasError('required') && formAdd.controls['Name']?.touched">
            URL không được để trống!
          </div>
          <p style="color: red;" *ngIf="formAdd.controls['Url'].hasError('maxlength')">
            URL không được quá 250 ký tự.
          </p>
        </div>
        <div class="form-group">
          <label>Chuyên mục:</label>
          <select class="form-control" formControlName="CategoryId">
            <ng-container *ngFor="let item of categories">
              <option [value]="item.Id">{{item.Name}}</option>
            </ng-container>
          </select>
          <div style="color: red;" *ngIf="formAdd.controls['CategoryId'].hasError('required')">
            Bạn phải chọn danh mục
          </div>
        </div>

        <div class="form-group">
          <label>Ảnh:</label>
          <p-fileUpload #file_image mode="advanced" [showUploadButton]="false" cancelLabel="Hủy" chooseLabel="Chọn ảnh"
            [multiple]="false" accept="image/*" [maxFileSize]="1000000">
          </p-fileUpload>
        </div>
        <div class="form-group">
          <label>Mô tả:</label>
          <textarea style="height: 100px;" type="text" rows="5" class="form-control" formControlName="Description"
            placeholder="Mô tả"></textarea>
        </div>
        <div class="form-group">
          <label>Nội dung:</label>
          <ckeditor [editor]="Editor" rows="5" formControlName="Detail" placeholder="Nội dung"></ckeditor>
        </div>
        <div class="form-group">
          <div class="field-checkbox">
            <p-checkbox formControlName="IsHot" type="checkbox" class="checkbox" [binary]="true" inputId="IsHot">
            </p-checkbox>
            <label for="IsHot">Bài viết nổi bật</label>
          </div>
        </div>
        <div class="form-group">
          <div class="field-checkbox">
            <p-checkbox formControlName="IsNew" type="checkbox" class="checkbox" [binary]="true" inputId="IsNew">
            </p-checkbox>
            <label for="IsNew">Bài viết mới</label>
          </div>
        </div>
        <div class="form-group">
          <label>Trạng thái:</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="Status" name="Status" [value]="1" checked>
            <label class="form-check-label">
              Active
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="Status" name="Status" [value]="0">
            <label class="form-check-label">
              Unactive
            </label>
          </div>
        </div>

        <div class="form-group">
          <div>
            <button type="submit" [disabled]="!formAdd.valid" class="btn btn-success">
              <i class="mdi mdi-check"></i>
              Đăng
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
