<div class="content" style="width:75%;margin:0 auto;">
  <div class="container-fluid">
    <div class="page-title-box">
      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div id="outside">
                <form id="survey-form" action="" method="post">
                  <h1 id="title">{{survey.Name}}</h1>
                  <fieldset *ngFor="let question of survey.Questions; let i = index">
                    <div *ngIf="question.QuestionTypeId==1">
                      <label for="Gender">Câu {{i+1}}: {{question.Name}}</label>
                      <p *ngFor="let answer of question.Answers_json">
                        <input type="radio" (change)="onChangeRadioButton(answer,$event)" name="{{answer.QuestionId}}"
                          value="{{answer.Id}}">{{answer.Content}}
                      </p>
                    </div>
                    <div *ngIf="question.QuestionTypeId==2">
                      <label for="Gender">Câu {{i+1}}: {{question.Name}}</label>
                      <p *ngFor="let answer of question.Answers_json">
                        <input type="checkbox" (change)="onChangeSelectBox(answer,$event)"
                          value="{{answer.Id}}">{{answer.Content}}
                      </p>
                    </div>
                    <div *ngIf="question.QuestionTypeId==3">
                      <label for="msg">Câu {{i+1}}: {{question.Name}}</label><br>
                      <textarea required id="msg" (blur)="onBlurEvent($event,question.Id)" name="user_message" rows="4"
                        cols="50" placeholder="Enter Text Here"></textarea>
                    </div>
                  </fieldset>
                  <div id="submitbutton">
                    <button type="button" class="btn-buttun" id="submit" (click)="onSubmit()">Lưu thông tin</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end page-title -->
  </div>
  <!-- container-fluid -->
</div>

<p-confirmDialog #cd [style]="{width: '50vw'}" [baseZIndex]="10000" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" (click)="cd.accept()" class="btn btn-primary waves-effect waves-light"> <i
        class="mdi mdi-check"></i> Lưu</button>
    <button type="button" (click)="cd.hide()" class="btn btn-danger waves-effect waves-light"> <i
        class="mdi mdi-close"></i> Huỷ</button>
  </p-footer>
</p-confirmDialog>
<ngx-spinner bdColor="rgba(51,51,51,0.8)">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast position="top-right"></p-toast>
