<div accept-charset="utf-8" class="newsletter-popup__form clearfix full-height">
  <div class="row no-free-space full-height">
    <div class="col-md-12 float-right full-height flex-display">
      <div class="no-free-space top-row-form-group">
        <div id="first_email_input">
          <div class="form-group newsletter-email-lable">
            <div class="newsletter-description">KẾT NỐI VỚI ELLE! <br>BẮT KỊP NHỊP ĐẬP THỜI TRANG,<br>LÀM ĐẸP VÀ
              PHONG CÁCH SỐNG</div>
            <div class="form-container">
              <form class="form-login" [formGroup]="formLogin" (ngSubmit)="onLogin()">
                <div class="newsletter-input-mail">
                  <span class="ico-newsletter-email"></span>
                  <div class="inside-mail-input">
                    <input id="subscriber_email" type="text" name="username" formControlName="username"
                      class="form-control newsletter-email" placeholder="Tài khoản" required />
                  </div>
                  <div class="col-12" style="color: red;"
                    *ngIf="formLogin.controls['username'].hasError('required') && formLogin.controls['username']?.touched">
                    tài khoản không được để trống!
                  </div>
                </div>
                <div class="newsletter-input-mail">
                  <span class="ico-newsletter-pass"></span>
                  <div class="inside-mail-input">
                    <input id="subscriber_email" type="password" name="userpassword" formControlName="password"
                      class="form-control newsletter-email" placeholder="Mật khẩu" required />
                  </div>
                  <div class="col-12" style="color: red;"
                    *ngIf="formLogin.controls['password'].hasError('required') && formLogin.controls['password']?.touched">
                    Mật khẩu không được để trống!
                  </div>
                </div>
                <div class="btn-submit-newsletter">
                  <button type="submit" id="newsletter_submit_email" class="newsletter-submit-btn">Đăng nhập</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END wrapper -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast position="top-right"></p-toast>
