.newsletter-input-mail {
  width: 85%;
  margin: auto;
  padding-top: 1em;
}

.ico-newsletter-username::before {
  content: "\f007";
  font-family: "FontAwesome";
  font-size: 1.6em;
  color: #000;
  padding: 1px;
  float: left;
}

.ico-newsletter-pass::before {
  content: "\f023";
  font-family: "FontAwesome";
  font-size: 1.6em;
  color: #000;
  padding: 1px;
  float: left;
}

.ico-newsletter-email::before {
  content: "\f0e0";
  font-family: "FontAwesome";
  font-size: 1.6em;
  color: #000;
  padding: 1px;
  float: left;
}

.ico-newsletter-name::before {
  content: "\f5b7";
  font-family: "FontAwesome";
  font-size: 1.4em;
  color: #000;
  padding: 1px;
  float: left;
}

.btn-submit-newsletter {
  text-align: center;
  margin: 5% 20%;
  font-size: 1.1em;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-submit-newsletter a {
  width: 50%;
}

.form-login {
  border: 1px solid rgba(0, 0, 0, .3);
  padding: 1em;
  width: 50%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
